.div {
  border: 2px solid black;
  margin: 200px 350px;
  height: 500px;
  width: 770px;
}
.div .heading {
  text-align: center;
  padding-bottom: 20px;
  font-size: 24px;
  font-weight: 600;
  color: rgb(66, 36, 36);
}

.container {
  display: flex;
}
.container .question {
  font-size: 15px;
  font-weight: 600;
}
.container .container1 {
  padding-left: 3px;
  padding-right: 25px;
  width: 420px;
}