<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../scss/main.css">
    <title>Partial Class</title>
</head>
<body>
    <div class="container">
        <p class="heading">How to bind a column collection from view model in SfDataGrid Xamarin Forms ?</p>
        <p>Published on Nov 16, 2018 | Tags : <strong class="tags">binding , columns , general , view-model</strong></p>
        <hr>
        <p class="heading">How to create a custom GridColumn ?</p>
        <p>Published on Oct 16, 2018 | Tags : <strong class="tags">gridcolumn</strong></p>
        <hr>
        <p class="heading">How to have different page size in SfDataPager with SfDataGrid when the device is in horizantal and vertical orientation mode ?</p>
        <p>Published on Sep 19, 2018 | Tags : <strong class="tags">orientation , pager , pagination , paging</strong></p>
    </div>
</body>
</html>