.main {
  display: block;
  border: solid black;
  margin: 200px auto;
  height: 380px;
  width: 700px;
}
.main .subDiv {
  padding-left: 13px;
}
.main .subDiv .image {
  height: 40px;
  width: 45px;
  padding-right: 10px;
}
.main .subDiv .strong {
  font-size: 24px;
  font-weight: 600;
}
.main .subDiv .ignore {
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  padding-left: 22px;
}
.main .subDiv .innerDiv {
  padding-left: 16px;
}
.main .subDiv .innerDiv .category {
  padding-right: 105px;
  text-align: left;
}
.main .subDiv .innerDiv #bookError {
  color: red;
}
.main .subDiv .innerDiv #mailError {
  color: red;
}
.main .subDiv .innerDiv #nameError {
  color: red;
}
.main .subDiv .innerDiv #publishedError {
  color: red;
}
.main .subDiv .innerDiv #priceError {
  color: red;
}
.main .subDiv .innerDiv .button {
  padding: 2px 35px;
  color: rgb(163, 110, 110);
  text-align: center;
  margin-left: 15px;
  background-color: white;
}
.main .horizontal {
  border: 2px solid black;
}